bittensor===9.6.1
sanic
webdriver_manager
lxml
openai
torch
pydantic
transformers
selenium
fuzzywuzzy
sentence-transformers
python-whois
beautifulsoup4
aiolimiter
httpx
httpx[http2]

tldextract
certifi
