bittensor==9.6.1
sanic
webdriver_manager
lxml
openai
torch==2.3.0
pydantic
transformers
transformers[torch]
selenium
fuzzywuzzy
sentence-transformers
python-whois
beautifulsoup4
aiolimiter
httpx
httpx[http2]

tldextract
certifi

# sudo apt install nvidia-cuda-toolkit
vllm
accelerate
